  p {
        color: blue;
        font-size: 18px;
    }

    .parrafo1 {
        color: red;
        background-color: #b3cba163;
    }
    .parrafo2 {
        color: green;
        background-color: #b3cba163;
    }