/* CONFIGURACION GENERAL DE ESTILOS CSS Y FORMATEO DE PAGINA */
/* Emiliminar todos los margenes y paddings por defecto de todos los elementos */
body{
    margin: 0;
    padding: 20px;
    /*Configuracion del espacio al borde del navegador*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd9d9bd;
    min-height: 100vh;
    /* ajuste del navegador */
}